.register-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.register-form h3{
  text-align: center;
  color: #333;
}

.register-container form{
  padding: 10%;
}

.register-form .btn-submit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.register-form .forget-pwd{
  color: #0062cc;
  text-decoration: none;
  font-style: italic;
}
