.forget-password-form h3{
  text-align: center;
  color: #333;
}

.forget-password-form .btn-submit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.forget-password-form .forget-pwd{
  color: #0062cc;
  text-decoration: none;
  font-style: italic;
}
