<form [formGroup]="passwordForm">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label>Secret</label>
    <input class="form-control" type="password" formControlName="secret">
  </div>
  <div class="form-group">
    <label>Domain</label>
    <input class="form-control" type="text" formControlName="domain">
  </div>
  <div class="form-group">
    <label>Icon</label>
    <input class="form-control" type="text" formControlName="icon">
  </div>
  <div class="d-flex flex-row text-center">
    <button class="btn btn-primary flex-grow-1 mr-2" (click)="onSubmit()">Confirm</button>
    <button class="btn btn-dark flex-grow-1 ml-2" (click)="onCancel()">Cancel</button>
  </div>
</form>

