.background {
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.login-modal {
  width: 50%;
  min-height: 80%;
  max-width: 500px;
  min-width: 280px;
}

.login-form {
  width: 100%;
  background-color: white;
  border-width: 2px;
  border-color: grey;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
