.btn-container > button:not(:first-child) {
  margin-left: 1rem;
}

#webext-add-pass-outer {
	width: 300px;
	height: 200px;
}

#webext-add-pass {
	width: 70%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
