.password {
    background-color: #eeeeee;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    padding-left: 4px;
    padding-right: 4px;
}

.copy_button {

}

.copy_button:hover {
    background-color: #cccccc;
    cursor: pointer;
}