<div class="bg-dark h-100 menu text-center text-md-left d-flex flex-row flex-md-column">
  <a class="bg-primary d-block p-3" routerLink="/">
    <img src="/assets/img/hpk-small.svg" alt="logo" class="menu-logo">
  </a>
  <a [routerLink]="item.route" routerLinkActive="active" [title]="item.name"
    [routerLinkActiveOptions]="{exact: item.exact}" class="menu-item text-nowrap"
    *ngFor="let item of itemsList">
    <i class="icon">{{item.icon}}</i>
    <span class="d-none d-lg-inline ml-3">{{item.name}}</span>
  </a>
  <button
    class="btn btn-link align-self-stretch mt-0 mt-md-auto ml-auto ml-md-0 mb-2 text-light"
    (click)="logout()">
    <i class="icon">exit_to_app</i>
    <span class="ml-2 d-none d-lg-inline">logout</span>
  </button>
</div>
